.add-machine-button img {
  height: 40px;
  transition: filter 0.3s ease;
}

.add-machine-button {
  padding: 0px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  margin-top: 5px;
  border: none;
}

.add-machine-button img:active {
  filter: brightness(80%);
}
.add-machine-button:hover:not(:active) {
  filter: brightness(60%);
}

.drop-shadow {
  float: right;
}
.drop-shadow img {
  filter: drop-shadow(3px 3px 3px #333333);
  -webkit-filter: drop-shadow(3px 3px 3px #333333);
}
