.name-label {
  margin-right: 10px;
  font-size: 0.9em;
  width: 7ch;
  display: inline-block;
}

.name-input {
  width: 20ch;
  font-size: 0.9em;
  display: inline-block;
}

.none-selected > .name-label {
  display: none;
}

.choose-image {
  width: 70%;
}

.none-selected {
  display: flex;
  flex-direction: column;
  align-items: center;
}
