.name-label {
  margin-right: 10px;
  font-size: 0.9em;
  width: 7ch;
  display: inline-block;
}

.name-input {
  width: 20ch;
  font-size: 0.9em;
  display: inline-block;
}

.none-selected > .name-label {
 display: none;
}

.none-selected input {
  text-align: center;
}

.choose-image {
  width: 100%;
}