#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

span.rbt-close-content {
  display: none;
}

.footer,
.header {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}

.show-on-print {
  display: none;
}

@media print {
  .footer, .header, .hide-on-print, .rbt-aux {
    display:  none !important;
  }
  textarea {
    border:  none !important;
    resize: none !important;
  }
  input {
    border:  none !important;
  }
  .ability-name {
      appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
      border: none;
    border-bottom: 1px solid black;
    font-weight: bold;
  }

  .stat-input {
        color: black;
    background-color: transparent;
  }
  .double-row {
    grid-row: span 1 !important;
  }

  .name-input, .nickname-input, .trainer-input {
    border: 1px solid black !important;
  }
  .show-on-print {
    display: initial !important;
  }
}